Package: com.clang.zaloseq
Name: clangg
Depends: firmware (>= 15.0), mobilesubstrate, ldid
Version: 1.0.6
Architecture: iphoneos-arm64
Description: Zalo SEQ Redirect with Cloud DRM Security
Maintainer: clang
Author: clang
Section: Tweaks
